<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Create Request</title>
        <link rel="stylesheet" href="../styles/main.css">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h3>Maintenance Tracker</h3>
                <ul>
                    <li>
                        <a href="../../index.html">Home</a>
                    </li>
                    <li>
                        <a href="allRequests.html">All Requests</a>
                    </li>
                    <li>
                        <a href="../../index.html">Logout</a>
                    </li>
                </ul>
            </div>
            <div class="aside">
                <ul>
                    <li>
                        <a href="allRequests.html">All Requests</a>
                    </li>
                    <li>
                        <a href="approvedRequests.html">Approved Requests</a>
                    </li>
                    <li>
                        <a href="allRequests.html">My Requests</a>
                    </li>
                    <li>
                        <a href="createRequest.html">Create Request</a>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="heading">
                    <p>
                        Create Request
                    </p>
                </div>
                <form action="">
                    <input type="text" placeholder="title">
                    <input type="textarea" placeholder="description">
                    <input type="file">
                    <a href="allRequests.html">Create Request</a>
                </form>
            </div>
            <div class="footer"></div>
        </div>
    </body>
</html>