<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Sign Up</title>
        <link rel="stylesheet" href="../styles/main.css">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h3>Maintenance Tracker</h3>
                <ul>
                    <li>
                        <a href="../../index.html">Home</a>
                    </li>
                    <li>
                        <a href="signin.html">Login</a>
                    </li>
                    <li>
                        <a href="signup.html">Sign Up</a>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="heading">
                    <p>
                        Create Account <span>Already have account? <a href="signin.html">Login</a></span>
                    </p>
                </div>
                <form action="">
                    <input type="text" placeholder="username">
                    <input type="password" placeholder="password">
                    <input type="password" placeholder="confirm password">
                    <input type="email" placeholder="email">
                    <a href="allRequests.html">Create Account</a>
                </form>
            </div>
            <div class="footer"></div>
        </div>
    </body>
</html>