<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>View Request</title>
        <link rel="stylesheet" href="../styles/main.css">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h3>Maintenance Tracker</h3>
                <ul>
                    <li>
                        <a href="../../index.html">Home</a>
                    </li>
                    <li>
                        <a href="allRequests.html">All Requests</a>
                    </li>
                    <li>
                        <a href="../../index.html">Logout</a>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="heading">
                    <p>Repair of broken desks</p>
                </div>
                <div class="request-detail">
                    <p>Request made by Aminu <span>On 10/5/2018</span></p>
                    <p>
                        Most of the desks used were broken and required your attention, the severity of 
                        the damage sustained by the desks was quite large.
                    </p>
                    <img src="http://placehold.it/150/771796" alt="request image">
                </div>
                <form action="">
                    <a href="approvedRequests.html">approve</a>
                    <a href="allRequests.html">reject</a>
                </form>
            </div>
            <div class="footer"></div>
        </div>
    </body>
</html>